*{
  box-sizing: border-box;
}
.frame{
  border: 2px solid black;
  width: 100%;
  /* height: 600px; */
  margin: auto;
}
.frame1{
  border: 2px solid red;
  padding: 16px;
}
.frame2{
  border: 2px solid green;
  height: 200px;
}
.frame3{
  border: 2px solid rgb(0, 0, 14);
  /* height: 100; */
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  justify-content: center;
  /* justify-content: space-around; */
  padding: 30px;
  gap: 12px;
}
.module1{
display: flex;
  width: 657px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
    border: 1px solid #EDEEF0;
    background: var(--ceq-core-ceq-primary-white, #FFF);
}
.module2{
display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  border-radius: 8px;
    border: 1px solid #000205;
    background: #FFF;
    /* height: 150px; */
}
.module2-inner{
  display: flex;
  padding: 0px 16px 8px 16px;
  border-radius: 8px;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background: var(--ceq-core-ceq-primary-white, #FFF);
}
.error-inbox{
display: flex;
  /* padding: 12px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 8px; */
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 8px;
    border: 1px solid #F0DFDF;
    background: #FDF0F0;
    font-size: 10px;
}
.heading{
/* color: var(--Borders, #2D2E2F); */
color: black;
text-align: left;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 8px;
}
.scores{
  display: flex;
    padding: 0px 16px;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 10px; */
    align-self: stretch;
}
.scores-row{
  display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: stretch;
    /* border: 2px solid black; */
}
.apdex{
  display: flex;
    height: 36px;
    padding: 8px 0px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
}
.apdex-score{
  display: flex;
    padding: 2px 4px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 2px;
      background: rgba(240, 16, 16, 0.04);
      color: red;
}
.frame4{
  display: flex;
    /* width: 1326px; */
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
    padding: 10px;
} 
.frame4-inner1{
display: flex;
  padding: 0px 20px 8px 20px;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background: var(--ceq-core-ceq-primary-white, #FFF);
  /* border: 2px solid black; */
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}
.frame4-module{
 display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border: 1px solid rgb(14, 3, 3);
    /* width: 500px; */
    border-radius: 8px ;
}
.frame4-inner2{
    display: flex;
    padding: 0px 20px 8px 20px;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    background: var(--ceq-core-ceq-primary-white, #FFF);
    /* border: 2px solid black; */
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.slo{
  background-color: #F9FAFC;;
}
.disruption{
  background-color: #FFF9ED;
}
h3{
  font-size: 15px;
}